bin/**
obj/**
.vs/SmoothMouse.csproj.dtbcache.json
.vs/SmoothMouse/FileContentIndex/2c52d0f3-710a-4096-a5cb-c79ab057ac91.vsidx
.vs/SmoothMouse/FileContentIndex/2ee963f3-aa58-42e4-804c-3dab600d4a1d.vsidx
.vs/SmoothMouse/FileContentIndex/571ec41c-ab96-45f8-b8a8-20946c22beb8.vsidx
.vs/SmoothMouse/FileContentIndex/87d69bbe-a962-463e-bbe9-ad0eebef5039.vsidx
.vs/SmoothMouse/v17/.suo
.vs/SmoothMouse/v17/DocumentLayout.backup.json
.vs/SmoothMouse/v17/DocumentLayout.json
*.vsidx
.vs/EyeGesturesPlugin/v17/DocumentLayout.json
.vs/EyeGesturesPlugin/v17/DocumentLayout.backup.json
.vs/EyeGesturesPlugin/v17/.suo
.vs/EyeGesturesPlugin.csproj.dtbcache.json
